<p id="notice"><%= notice %></p>

<p>
  <b>Data source:</b>
  <%= @export_record.data_source_id %>
</p>

<p>
  <b>Primary key:</b>
  <%= @export_record.primary_key %>
</p>

<p>
  <b>Checksum:</b>
  <%= @export_record.checksum %>
</p>


<%= link_to 'Edit', edit_export_record_path(@export_record) %> |
<%= link_to 'Back', export_records_path %>
