<%= form_for(@export_run) do |f| %>
  <% if @export_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@export_run.errors.count, "error") %> prohibited this export_run from being saved:</h2>

      <ul>
      <% @export_run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data_source_id %><br />
    <%= f.number_field :data_source_id %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at %>
  </div>
  <div class="field">
    <%= f.label :finished_at %><br />
    <%= f.datetime_select :finished_at %>
  </div>
  <div class="field">
    <%= f.label :record_count %><br />
    <%= f.number_field :record_count %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
